.header-div {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--super-dark-blue);
}

.header-title {
    margin-left: 10vw;
    margin-right: 10vw;
}