:root {
    --black: #000000;
    --white: #FFFFFF;
    --golden: #ffd700;
    --dark-blue: #02182c;
    --super-super-dark-blue: #00070c;
    --super-dark-blue: #000b14;
    --light-blue: #002855;
    --super-light-blue: #0e4e97;
    --super-super-light-blue: #2465af;
    --light-purple: #6a1aff;
    --dark-purple: #430ea7;
    --super-dark-purple: #300a77;
}



/* fonte parão do site */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* removendo margin e padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* estilo do body */
body {
    font-family: 'JetBrains Mono', monospace;
    color: var(--white);
    background-color: var(--dark-blue);
}

.content-container {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}